.d-flex{
  display: flex;
}

.j-between{
  justify-content: space-between;
}

.f-direction-co{
  flex-direction: column;
}

.j-around{
  justify-content: space-around;
}
.j-evenly{
  justify-content: space-evenly;
}


.j-center{
  justify-content: center;
}


.align-center{
  align-items: center;
}
