$colors: (
  primary: rgb(17, 22, 26),
  secondary: rgb(20, 96, 131),
  tertiary: rgb(29, 160, 212)
);

$font-size:(
  small: 1rem,
  medium-small: 1.5rem,
  medium: 2rem,
  large: 2.8rem,
);

$font-family:(
  primary: "Arial",
  secondary: "Helvetica",
);

$line-height:(
  line-height: 1.8,
  );

