//Globals
* {
  box-sizing: border-box;
  
}

.img-width{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: map-get($colors, tertiary);
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.h2-sub-title{
  font-size: map-get($font-size, medium);
  color: map-get($colors, tertiary);
  text-transform: uppercase;
  margin-bottom: 20px;
}
