//Globals
* {
  box-sizing: border-box;
  
}

.img-width{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: map-get($colors, tertiary);
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.h2-sub-title{
  font-size: map-get($font-size, medium);
  color: map-get($colors, tertiary);
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width:845px){
  .h2-sub-title{
    padding-left: 30px;
  }
  
  .arrows{
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width:500px){
  .arrows{
    margin-left: 30px;
    margin-right: 30px;
  }
}


